/* Estilo del contenedor del semáforo */
.trafic-light {
  width: 100px;
  background-color:  rgb(155, 7, 241);
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo del "palito" que sostiene el semáforo */
.palito {
  width: 20px;
  height: 100px;
  background-color: rgb(155, 7, 241);
  margin: 0 auto;
}

/* Estilos generales para las luces */
.light {
  width: 70px;
  height: 70px;
  margin: 10px 0;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

/* Colores de las luces */
.light.red {
  background-color: rgb(255, 1, 170)
}

.light.yellow {
  background-color: rgb(251, 255, 0)
}

.light.green {
  background-color: rgb(25, 245, 212)
}

/* Estilo para el brillo (luz activa) */
.brillo {
  opacity: 1;
}

.light{
  box-shadow: 0 0 4rem 2rem lightgoldenrodyellow;
}